<form [formGroup]="_form">
  <div class="group_control_form">
    <!-- <label class="switch_label" for="switchValue">Require</label> -->
    <!-- <nz-switch class=" mb-3" [(ngModel)]="switchValue"></nz-switch> -->
    <div class="row template_search my-3 text-start">
      <h6 class="col col-2">{{ formLabel }}</h6>
      <input
        class="col col-10"
        nz-input
        placeholder="Enter Travel Type"
        formControlName="label"
      />
    </div>
    <div class="row template_search my-3 text-start">
      <h6 class="col col-2">Control Type :</h6>
      <nz-select
        class="col col-2"
        nzShowSearch
        nzAllowClear
        formControlName="controlId"
        nzPlaceHolder="Select Control"
        [(ngModel)]="selectedValue"
      >
        <nz-option
          *ngFor="let item of items"
          [nzLabel]="item"
          [nzValue]="item"
        ></nz-option>
      </nz-select>
    </div>
    <div *ngIf="selectedValue === 'CheckBoxes' || selectedValue === 'Dropdown'">
      <div *ngFor="let textInput of textInputs; let i = index">
        <input
          class="add_check_item"
          nz-input
          type="text"
          (input)="handleTextInputChange(i, $event)"
          #textInputField
        />
        <button
          nz-button
          nzDanger
          nzType="primary"
          (click)="removeTextInput(i)"
          [nzSize]="'small'"
        >
          -
        </button>
      </div>
      <div class="button_bar">
        <button
          nz-button
          nzType="primary"
          (click)="addNewOption()"
          [nzSize]="'large'"
          nzShape="circle"
          *ngIf="selectedValue === 'CheckBoxes' || selectedValue === 'Dropdown'"
        >
          +
        </button>
      </div>
    </div>
    <div>
      <ng-container formArrayName="templateControls">
        <app-group-control
          *ngFor="let s of _groupsFormArray?.controls; index as i"
          (remove)="_deleteGroupFromArray(i)"
          [formControlName]="i"
          [formLabel]="'Label '"
          [controlId]="controlId"
        >
        </app-group-control>
      </ng-container>
    </div>
  </div>
  <div class="d-flex gap-2 justify-content-end">
    <button nz-button nzType="primary" (click)="_addGroup()" [nzSize]="'large'">
      +
    </button>

    <button
      nz-button
      nzDanger
      nzType="primary"
      (click)="remove.emit()"
      [nzSize]="'large'"
    >
      -
    </button>
  </div>
</form>
