<form class="control_form border" [formGroup]="_form">
  <div class="row template_search my-3 text-start">
    <h6 class="col col-2">{{ formLabel }}</h6>
    <nz-select
      class="col col-2"
      nzShowSearch
      nzAllowClear
      formControlName="variable"
      nzPlaceHolder="Select Control"
      [(ngModel)]="selectedValue"
    >
      <nz-option
        *ngFor="let item of items"
        [nzLabel]="item"
        [nzValue]="item"
      ></nz-option>
    </nz-select>
    <div class="col col-8 text-end">
      <button
        nz-button
        nzDanger
        nzType="primary"
        (click)="remove.emit()"
        [nzSize]="'large'"
      >
        -
      </button>
    </div>
    <div *ngFor="let options of checkOptions">
      <label
        nz-checkbox
        *ngIf="selectedValue === 'CheckBoxes'"
        nzValue="{{ options.value }}"
        [(ngModel)]="selectedCheckboxes"
        >{{ options.label }}</label
      >
    </div>
    <!-- <nz-select
      *ngIf="selectedValue === 'Dropdown'"
      [nzPlaceHolder]="'Dropdown Control'"
      [ngModel]="selectedDropdown"
      (ngModelChange)="selectedDropdown = $event"
    >
      <nz-option [nzLabel]="'Option 1'" [nzValue]="'Option 1'"></nz-option>
      <nz-option [nzLabel]="'Option 2'" [nzValue]="'Option 2'"></nz-option>
    </nz-select> -->
  </div>
  <div class="button_bar">
    <button
      nz-button
      nzType="primary"
      (click)="addNewOption()"
      [nzSize]="'large'"
      nzShape="circle"
      *ngIf="selectedValue === 'Dropdown' || selectedValue === 'CheckBoxes'"
    >
      +
    </button>
  </div>
</form>
