<form class="control_form" [formGroup]="_form">
  <!-- <div class="row template_search my-3 text-start">
    <h6 class="col col-2">{{ formLabel }}</h6>
    <nz-select
      class="col col-2"
      nzShowSearch
      nzAllowClear
      formControlName="controlId"
      nzPlaceHolder="Select Control"
      [(ngModel)]="selectedValue"
    >
      <nz-option
        *ngFor="let item of items"
        [nzLabel]="item"
        [nzValue]="item"
      ></nz-option>
    </nz-select>
    <div *ngFor="let options of checkOptions">
      <label
        nz-checkbox
        *ngIf="selectedValue === 'CheckBoxes'"
        nzValue="{{ options.value }}"
        [(ngModel)]="selectedCheckboxes"
        >{{ options.label }}</label
      >
    </div>
    <nz-select
      *ngIf="selectedValue === 'Dropdown'"
      nzShowSearch
      nzAllowClear
      [nzDropdownRender]="renderTemplate"
      nzPlaceHolder="custom dropdown render"
    >
      <nz-option
        *ngFor="let item of listOfItem"
        [nzLabel]="item"
        [nzValue]="item"
      ></nz-option>
    </nz-select>
    <ng-template #renderTemplate>
      <nz-divider></nz-divider>
      <div class="container">
        <input type="text" nz-input #inputElement />
        <a class="add-item" (click)="addItem(inputElement)">
          <span nz-icon nzType="plus"></span>
          Add item
        </a>
      </div>
    </ng-template>
  </div>
  <div class="button_bar">
    <button
      nz-button
      nzType="primary"
      (click)="addNewOption()"
      [nzSize]="'large'"
      nzShape="circle"
      *ngIf="selectedValue === 'CheckBoxes'"
    >
      +
    </button>
  </div>
  <div *ngFor="let textInput of textInputs; let i = index">
    <input nz-input type="text" formControlName="{{ textInput.value }}" />
    <button
      nz-button
      nzDanger
      class="check_option"
      nzType="primary"
      (click)="removeTextInput(i)"
      [nzSize]="'small'"
    >
      -
    </button>
  </div> -->
</form>
