/* .ant-btn-secondary:hover{
    color: #1890ff;
    background-color: white;
} */

/* .ant-btn-primary{
    color: #1890ff;
    background-color: white;
}
.ant-btn-primary:hover{
    color: white;
    background-color: #1890ff;
} */

.row{
    --bs-gutter-x:0
}

.ant-select{
    display: flex;
    align-items: center !important;
}
.ant-input {
    width: 200px;
  }